<p id="notice"><%= notice %></p>

<h1>Listing Grades</h1>

<table>
  <thead>
    <tr>
      <th>Assignment name</th>
      <th>Grade</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if session[:user_type] == "Teacher" %>
      <%= render 'teacher_grades' %>
    <% else %>
      <%= render 'student_parent_grades' %>
    <% end %>
  </tbody>
</table>

<br>

<% if session[:user_type] == "Teacher" %>
  <%= render 'links' %>
<% end %>

<p><%= link_to 'Logout', logout_path, method: :delete %></p>
