<h1>New Grade</h1>

<%= render 'form' %>

<%= link_to 'Grade List', grades_path %> |
<%= link_to 'Parent List', parents_path %> |
<%= link_to 'Student List', students_path %> |
<%= link_to 'Teacher List', teachers_path %>
